@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
:root {
    --bright_orange: hsl(31, 77%, 52%);
    --dark_cyan: hsl(184, 100%, 22%);
    --very_dark_cyan: hsl(179, 100%, 13%);
    --transparent_white: hsla(0, 0%, 100%, 0.75);  /*  (paragraphs) */
    --very_light_gray: hsl(0, 0%, 95%);     /* (background, headings, buttons) */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    background: var(--very_light_gray);
}
.main-container{
    width: 325px;
    margin: 87px auto 40px;
    border-radius: 8px;
    overflow: hidden;
}
article {
    width: 100%;
    height: 440px;
    padding: 48px;
}
#sedans {
    background-color: var(--bright_orange);
}
#suvS {
    background-color: var(--dark_cyan);
}
#luxury {
    background-color: var(--very_dark_cyan);
}
img{
    margin-bottom: 36px;
}
h2{
    color: var(--very_light_gray);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.4em;
    text-transform: uppercase;
    margin-bottom: 25px;
}
p{
    color: var(--transparent_white);
    line-height: 25px;
    margin-bottom: 25px;
}
button{
    width: 148px;
    height: 46px;
    border-radius: 45px;
    border-style: none;
    background-color: var(--very_light_gray);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
}
#sedans-btn{
    color: var(--bright_orange);
}
#suvs-btn{
    color: var(--dark_cyan);
}
#luxury-btn{
    color: var(--very_dark_cyan);
}
button:hover{
    cursor: pointer;
    border: 2px solid var(--very_light_gray);
}
#sedans-btn:hover{
    background-color: var(--bright_orange);
    color: var(--very_light_gray);
}
#suvs-btn:hover{
    background-color: var(--dark_cyan);
    color: var(--very_light_gray);
}
#luxury-btn:hover{
    background-color: var(--very_dark_cyan);
    color: var(--very_light_gray);
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: rgb(15, 130, 197);
}
/*--------------------Desktop-----------------------*/
@media (min-width:1440px){
    .main-container{
        width: 924px;
        display: flex;
        margin-top: 170px;
    }
    article{
        height: 500px;
    }
    p{
        margin-bottom: 80px;
    }
}